<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
    <!-- 别名 :在配置文件中可以不用写po类的权限定名，可以直接写别名-->
    <typeAliases>
        <package name="com.ambow.pojo" />
    </typeAliases>


    <!-- 接口 -->
    <mappers>
        <package name="com.ambow.dao"/>
    </mappers>
</configuration>  